$inter: 'Inter', sans-serif;
.LaLiga {
    background-color: #212227;
    height: 1500px;
    width: 100%;
    overflow: hidden;
}
a {
    text-decoration: none;
}
#tableLaLiga {
    position: relative;
    left: 170px;
    width: 1020px;
    height: 1200px;
    float: left;
    #spainTableImage {
        width: 32px;
        height: 32px;
        position: relative;
        left: 30px;
        top: 20px;
    }
    #laLigaTableImage {
        width: 32px;
        height: 32px;
        position: relative;
        left: 40px;
        top: 20px;
    }
    #laLigaTableSpan {
        font-family: $inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        position: relative;
        left: 130px;
        top: -8px;
        color: #FFFFFF;
    }
}
@media screen and (max-width: 1600px) {
    #tableLaLiga {
        position: relative;
        top: 40%;
        left: 45%;
        transform: translate(-45%, -50%);
    }
}
@media screen and (max-width: 1040px) {
    #tableLaLiga {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
    }
} 
