$inter: 'Inter', sans-serif;
.PremierLeague {
    background-color: #212227;
    height: 1500px;
    width: 100%;
    overflow: hidden;
}
a {
    text-decoration: none;
}
#tablePremierLeague {
    position: relative;
    left: 170px;
    width: 1020px;
    height: 1200px;
    float: left;
    background-color: aqua;
    #englandTableImage {
        width: 32px;
        height: 32px;
        position: relative;
        left: 30px;
        top: 20px;
    }
    #premierLeagueTableImage {
        width: 32px;
        height: 32px;
        position: relative;
        left: 40px;
        top: 20px;
    }
    #premierLeagueTableSpan {
        font-family: $inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        position: relative;
        left: 130px;
        top: -8px;
        color: #FFFFFF;
    }
}
@media screen and (max-width: 1600px) {
    #tablePremierLeague {
        position: relative;
        top: 40%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 1200px) {
    #tablePremierLeague {
        left: 50%;
        transform: translate(-50%, -50%);
    }
} 
@media screen and (max-width: 560px) {
    .PremierLeague {
        width: 560px !important;
    }
}
