$inter: 'Inter', sans-serif;
.PremierLeague {
    background-color: #212227;
    height: 1500px;
}

a {
    text-decoration: none;
}
#tablePremierLeague {
    width: 1000px;
    height: 1200px;
    float: left;
    img:nth-child(1) {
        width: 32px;
        height: 32px;
        position: absolute;
        left: 170px;
        top: 40px;
    }
    img:nth-child(2) {
        width: 32px;
        height: 32px;
        position: relative;
        left: 180px;
        top: 40px;
    }
    span:nth-child(3) {
        font-family: $inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        position: relative;
        left: 290px;
        top: 10px;
        color: #FFFFFF;
    }
}
