@mixin dashboardImages() {
    width: 24px;
    height: 24px;
    position: absolute;
}
.searching {
    width: auto;
    height: 68px;
    background-color: #1B1C21;
    overflow: auto;
}
#accountSection {
    width: 150px;
    height: 68px;
    position: absolute;
    top: 0;
    left: 88%;
}
    #searchInput {
        width: 548px;
        height: 36px;
        background-color: #2E3034;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        padding: 10px 8px;
        border: transparent;
        border-radius: 6px;
        outline: none;
        text-indent: 30px;
        margin-left: 23px;
        margin-top: 16px;
        background-image: url('../images/Search.png');
        background-repeat: no-repeat;
        background-position: 8px 10px;
        background-size: 16px;
        color: white;
    }
    #cartVector {
        @include dashboardImages;
        top: 22px;
        left: 0;
        cursor: pointer;
    }
    #notificationVector {
        position: absolute;
        top: 24px;
        left: 40px;
        cursor: pointer;
    }
    #account {
        width: 36px;
        height: 36px;
        border: transparent;
        border-radius: 360px;
        background-color: white;
        position: absolute;
        top: 16px;
        left: 110px;
    }
    #profileImage {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
@media screen and (max-width: 1270px) {
    #searchInput {
        width: 50%;
    }
    #accountSection {
        left: 83%;
    }
}
@media screen and (max-width: 870px) {
    #accountSection {
        left: 77%;
    }
}
@media screen and (max-width: 640px) {
    #accountSection {
        left: 65%;
    }
}
@media screen and (max-width: 360px) {
    #accountSection {
        width: 110px;
        #account {
            left: 70px;
        }
    }
}