$inter: 'Inter', sans-serif;
$myGray: #A4A4A4;

@mixin tablesFont() {
    position: absolute;
    font-family: $inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}
.PremierLeague {
    background-color: #212227;
    height: 1500px;
}
#caption {
    width: 1000px;
    height: 20px;
    position: relative;
    top: 40px;
    left: 5px;
    display: flex;
    font-family: $inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: $myGray;
    span:nth-child(2) {
        position: absolute;
        left: 507px;
    }
    span:nth-child(3) {
        position: absolute;
        left: 566px;
    }
    span:nth-child(4) {
        position: absolute;
        left: 623px;
    }
    span:nth-child(5) {
        position: absolute;
        left: 686px;
    }
    span:nth-child(6) {
        position: absolute;
        left: 744px;
    };
    span:nth-child(7) {
        position: absolute;
        left: 806px;
    }
    span:nth-child(8) {
        position: absolute;
        left: 904px;
    }
}
.tableStandings {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    gap: 88px;
    width: 1000px;
    height: 8px;
    background: rgba(73, 64, 105, 0.4);
    border-radius: 8px;
    margin-top: 8px;
    span:nth-child(1) {
        @include tablesFont;
        left: 8px;
    }
    img:nth-child(2) {
        width: 32px;
        height: 32px;
        position: absolute;
        left: 37px;
    }
    li:nth-child(3) {
        @include tablesFont;
        left: 87px;
        a {
            color: white;
        }
    }
    span:nth-child(4) {
        @include tablesFont;
        left: 509px;
    }
    span:nth-child(5) {
        @include tablesFont;
        left: 569px;
    }
    span:nth-child(6) {
        @include tablesFont;
        left: 629px;
    }
    span:nth-child(7) {
        @include tablesFont;
        left: 689px;
    }
    span:nth-child(9) {
        @include tablesFont;
        left: 744px;
    }
    span:nth-child(8) {
        @include tablesFont;
        left: 797px;
    }
    button {
        width: 20px;
        height: 20px;
        border: transparent;
        border-radius: 360px;
        background-color: #36FF00;
        margin-left: -80px;
        position: relative;
        left: 460px;
    }
}

#firstPlace,
#secondPlace,
#thirdPlace,
#fourthPlace {
    background-color: rgb(0, 70, 130);
}
#fifthPlace {
    background-color: rgb(127, 0, 41);
}
#firstRelegate,
#secondRelegate,
#thirdRelegate {
    background-color: rgb(189, 0, 0);
}