$inter: 'Inter', sans-serif;
$myGray: #A4A4A4;

@mixin tablesFont() {
    position: absolute;
    font-family: $inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}
@mixin advance() {
    width: 170px;
    height: 17px;
    position: relative;
    left: 20px;
}
@mixin advanceSpan() {
    font-family: $inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 22px;
}
@mixin advanceColor() {
    width: 12px;
    height: 12px;
    border: transparent;
    border-radius: 360px;
    position: absolute;
    top: 3px;
    left: 2px;
}
.PremierLeague,
.LaLiga,
.Ligue1,
.SerieA,
.Bundesliga,
.Ekstraklasa {
    background-color: #212227;
    width: 100%;
    height: 1500px;
}
#caption {
    width: 1000px;
    height: 20px;
    position: relative;
    top: 40px;
    left: 5px;
    display: flex;
    font-family: $inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: $myGray;
    span:nth-child(2) {
        position: absolute;
        left: 507px;
    }
    span:nth-child(3) {
        position: absolute;
        left: 566px;
    }
    span:nth-child(4) {
        position: absolute;
        left: 623px;
    }
    span:nth-child(5) {
        position: absolute;
        left: 686px;
    }
    span:nth-child(6) {
        position: absolute;
        left: 744px;
    };
    span:nth-child(7) {
        position: absolute;
        left: 806px;
    }
    span:nth-child(8) {
        position: absolute;
        left: 904px;
    }
}
.tableStandings {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    gap: 88px;
    width: 1000px;
    height: 8px;
    background: rgba(73, 64, 105, 0.4);
    border-radius: 8px;
    margin-top: 8px;
    span:nth-child(1) {
        @include tablesFont;
        left: 8px;
    }
    img:nth-child(2) {
        width: 32px;
        height: 32px;
        position: absolute;
        left: 37px;
    }
    li:nth-child(3) {
        @include tablesFont;
        left: 87px;
        a {
            color: white;
        }
    }
    span:nth-child(4) {
        @include tablesFont;
        left: 509px;
    }
    span:nth-child(5) {
        @include tablesFont;
        left: 569px;
    }
    span:nth-child(6) {
        @include tablesFont;
        left: 629px;
    }
    span:nth-child(7) {
        @include tablesFont;
        left: 689px;
    }
    span:nth-child(9) {
        @include tablesFont;
        left: 744px;
    }
    span:nth-child(8) {
        @include tablesFont;
        left: 797px;
    }
    button {
        width: 20px;
        height: 20px;
        border: transparent;
        border-radius: 360px;
        background-color: #36FF00;
        margin-left: -80px;
        position: relative;
        left: 460px;
    }
}

.championsLeagueAdvance {
    background-color: rgb(0, 70, 130);
}
.championsLeagueQualifying {
    background-color: rgb(30, 168, 236);
}
.europaLeagueAdvance {
    background-color: rgb(127, 0, 41);
}
.conferenceLeagueAdvance {
    background-color: rgb(184, 134, 11);
}
.relegate {
    background-color: rgb(189, 0, 0);
}
.relegateExtraGame {
    background-color: rgb(255, 65, 65);
}
#championsLeagueAdvance {
    @include advance;
    top: 65px;
    span {
        @include advanceSpan;
    }
}
#championsLeagueAdvanceColor {
    @include advanceColor;
    background-color: rgb(0, 70, 130);
}
#championsLeagueQualifying {
    @include advance;
    top: 75px;
    width: 300px;
    span {
        @include advanceSpan;
    }
}
#championsLeagueQualifyingColor {
    @include advanceColor;
    background-color: rgb(30, 168, 236);
}
#europaLeagueAdvance {
    @include advance;
    top: 80px;
    span {
        @include advanceSpan;
    }
}
#europaLeagueAdvanceColor {
    @include advanceColor;
    background-color: rgb(127, 0, 41);
}
#conferenceLeagueAdvance {
    @include advance;
    top: 85px;
    span {
        @include advanceSpan;
    }
}
#conferenceLeagueAdvanceColor {
    @include advanceColor;
    background-color: rgb(184, 134, 11);
}
#relegations {
    @include advance;
    top: 95px;
    width: 200px;
    span {
        @include advanceSpan;
    }
}
#relegationsColor {
    @include advanceColor;
    background-color: rgb(189, 0, 0);
}
@media screen and (max-width: 1040px) {
    .tableStandings {
        width: 585px;
        span:nth-child(4) {
            left: 270px;
        }
        span:nth-child(5) {
            left: 305px;
        }
        span:nth-child(6) {
            left: 335px;
        }
        span:nth-child(7) {
            left: 355px;
        }
        span:nth-child(9) {
            left: 380px;
        }
        span:nth-child(8) {
            left: 420px;
        }
        button {
            left: 275px;
        }
    }
    #caption {
        width: 590px;
        span:nth-child(2) {
            left: 268px;
        }
        span:nth-child(3) {
            left: 302px;
        }
        span:nth-child(4) {
            left: 329px;
        }
        span:nth-child(5) {
            left: 351px;
        }
        span:nth-child(6) {
            left: 378px;
        }
        span:nth-child(7) {
            left: 429px;
        }
        span:nth-child(8) {
            left: 505px;
        }
    }
}